{#
/**
 * @file
 * Default theme implementation for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 *
 * @ingroup themeable
 */
#}

<li{{ attributes.addClass('flex-inline', 'rounded-t', 'border', 'border-b-0', 'border-sky-950') }}>
  {{ link(element['#link']['title'], element['#link']['url'], create_attribute({'class': ['inline-block', 'py-3.5', 'px-5',]})) }}
</li>
