/* .dkan-catalog-footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
}

.dkan-catalog-footer a {
  color: var(--footer-text-color);
  text-decoration: none;
}

.dkan-catalog-footer a:hover {
  text-decoration: underline;
}

.region-footer {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
} */
