:root {
  --site-max-width: 100%;
  --footer-bg-color: #162e51;
  --footer-text-color: #ffffff;
  --title-font-size: 3rem;
  --title-text-color: #162e51;
  --sub-title-font-size: 2rem;
  --sub-title-text-color: #162e51;
}

