/* .dkan-sdc-metadata-table th {
  background-color: #162e51;
  color: #ffffff;
  padding: 4px 16px;
}

.dkan-sdc-distribution-download {
  display: inline-flex;
  align-items: center;
}

.dkan-sdc-data-preview-table {
  width: 100%;
}

.dkan-sdc-data-preview-table-header {
  margin-bottom: 16px;
}

.dkan-dataset-description {
  margin-bottom: 16px;
} */