/* .dkan-search-list-item {
  background: #fff;
  border: 1px solid #e8ebf0;
  border-radius: 4px;
  padding: 16px 48px;
  list-style: none;
  margin-bottom: 2rem;
  word-break: break-word;
}

.dkan-search-list-item--title a {
  color: #162e51;
  text-decoration: none;
}

.dkan-search-list-item--theme {
  color: #0978bc;
  display: inline-block;
  position: relative;
  padding: 0 20px 0 30px;
}

.dkan-search-list-item--theme ul {
  list-style: none;
  padding: 0;
  margin: 0;
} */
